extends layout

block content
  if errors 
    each error in errors 
      p(style="color:red") #{error.msg}
  h1 Edit Profile
  form(method="POST", action= profile ? `/profile/update?profileId=${profile._id}` : '/profile/update')
    label Age: 
    input(name="age", type="number", value=profile ? profile.age : '')
    br
    br
    label Date of Birth: 
    input(name="birth", type="date", value=profile ? profile.birth : '')
    br
    br
    label Weight:
    input(name="weight", type="number", value=profile ? profile.weight : '')
    br
    br
    label Height:
    input(name="height", type="number", value=profile ? profile.height : '')
    br
    br
    label Goals:
    input(name="goals", type="text", value=profile ? profile.goals : '')
    br
    br
    input(value="Update", type="Submit")
    br
