extends layout
block content

    h1 Profile 
    if profile
        div(style="border:solid 1px black;padding:10px;margin:5px") 
            label User:
            label=user.name 
            br
            label Age: 
            label=profile.age
            br
            label Date of Birth: 
            label=profile.birth
            br
            label Weight: 
            label=profile.weight
            br
            label Height: 
            label=profile.height
            br
            label Goals: 
            label=profile.goals
            br
    else
        p No profile found.
    a(href="/profile/update") Update profile
