extends layout

block content
  .container
    .row
      .col-md-8.offset-md-2
        h1.text-center.mt-5 Profile
        if profile
          .card
            .card-body
              p.card-title.mb-3 
                strong User: 
                | #{user.name}
              p.card-text 
                strong Age: 
                | #{profile.age}
              p.card-text 
                strong Date of Birth: 
                | #{profile.birth}
              p.card-text 
                strong Weight: 
                | #{profile.weight}
              p.card-text 
                strong Height: 
                | #{profile.height}
              p.card-text 
                strong Goals: 
                | #{profile.goals}
        else
          p No profile found.

        .text-center.mt-4
          a.btn.btn-primary(href="/profile/update") Update profile


